@model nibss_orchad_azure.Models.TextBlock



@if (Model.SubTitle != null)
{
    <div class="uk-width-2-3@s">
        <p class="uk-heading-line uk-text-small"><span>@Model.SubTitle</span></p>
    </div>

}

@if (Model.Title != null)
{
    <div class="uk-width-1-1 uk-margin-small-top">
        <h4 class="big-size-text-green">@Model.Title</h4>
    </div>
}

@if (Model.Body != null)
{
    <div class="uk-width-1-1 uk-margin-small-top" style="color: #748494">
        @Html.Raw(Model.Body)
    </div>
}

@if (Model.ButtonText != null)
{
    <div class="uk-width-1-1 uk-margin-small-top">
        <a class="uk-button uk-button-default uk-text-capitalize uk-border-rounded button-base" href="@Model.ButtonUrl">@Model.ButtonText</a>
    </div>
}


