@{
    Layout = "_Layout";
    ViewData["Title"] = "Forgot Password";
}

@model OrchardCore.Users.ViewModels.ForgotPasswordViewModel

<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
    <div class="uk-width-1-1">
        <div class="uk-container">
            <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                <div class="uk-width-1-1@m">
                    <div class="uk-margin uk-width-large uk-margin-auto">
                        <h3 class="uk-card-title uk-text-left">Forgot your password? </h3>
                        <p>To reset your password, enter your registered email address. We will email you the password reset link immediately.</p>
                        <hr />
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "/account/ForgotPassword" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="uk-width-1-1">
                                @Html.LabelFor(model => model.UserIdentifier, "Email address", new { htmlAttributes = new { @class = "uk-form-label" } })
                                @Html.EditorFor(model => model.UserIdentifier, new { htmlAttributes = new { @class = "uk-input", autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.UserIdentifier, "", new { @class = "uk-text-danger" })
                            </div>
                            <div class="uk-width-1-1@s uk-text-right uk-margin-small-top uk-margin-large-bottom">
                                <button type="submit" class="uk-button uk-button-medium button-base">Search</button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>