@{
    Layout = "_Layout";
    ViewData["Title"] = "Reset Password";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model OrchardCore.Users.ViewModels.ResetPasswordViewModel

<div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
    <div class="uk-width-1-1">
        <div class="uk-container">
            <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                <div class="uk-width-1-1@m">
                    <div class="uk-margin uk-width-large uk-margin-auto">
                        <h3 class="uk-card-title uk-text-left">Reset Your Account</h3>
                        <hr />
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { action = "/account/resetpassword" }))
                        {
                            <div class="uk-width-1-1">
                                @Html.LabelFor(model => model.Email, new { htmlAttributes = new { @class = "uk-form-label" } })
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "uk-input" } })
                                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "help-block" })
                            </div>
                            <div class="uk-width-1-1">
                                @Html.LabelFor(model => model.NewPassword, "New Password", new { htmlAttributes = new { @class = "uk-form-label" } })
                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "uk-input" } })
                                @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "help-block" })
                                @Html.ValidationMessage("Password")
                            </div>
                            <div class="uk-width-1-1">
                                @Html.LabelFor(model => model.PasswordConfirmation, "Confirm Password", new { htmlAttributes = new { @class = "uk-form-label" } })
                                @Html.EditorFor(model => model.PasswordConfirmation, new { htmlAttributes = new { @class = "uk-input" } })
                                @Html.ValidationMessageFor(model => model.PasswordConfirmation, null, new { @class = "help-block" })
                            </div>
                            <input asp-for="ResetToken" type="hidden" />
                            <div class="uk-width-1-1@s uk-text-right uk-margin-small-top uk-margin-large-bottom">
                                <button type="submit" class="uk-button uk-button-medium button-base">Reset Password</button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

